# File: env.example (root project)

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/hris-ci4/public/'

database.default.hostname = localhost
database.default.database = db_hris
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306